home
<ul>
 
    <li>
      <a [routerLink]="['/contact']">CONTACT</a>
      <a routerLink="/contact" >Page 1</a>

    </li>
  </ul>
  
  <router-outlet></router-outlet>
  

<div class="Cards" *ngFor="let card of Cards">
    <fieldset>
        <p> id :{{ card.id }} </p>
        <p> flavorText :{{ card.flavorText }} </p>
        <p> artist :{{ card.artist }} </p>

        <img [src]="card.images.small">

        <app-tcgplayer [tcgplayer]="card.tcgplayer"></app-tcgplayer>

    </fieldset>
</div>

<!-- test -->

